@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #22c55e;
  --color-brand-600: #16a34a;
  --color-brand-700: #15803d;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased font-sans;
  }
}
